html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
  overflow-x: hidden;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

/* Center the logo and navigation buttons */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;

}

/* Style for the logo */
.business-logo {
  max-height: 200px;
  margin-bottom: 5px; 
  display: block; 
  max-width: 250px; 
  margin: 0; 
  padding: 0; 
  margin-bottom: 20px;
}

/* Style for the navigation buttons */
.navigation-bar {
  display: flex;
  gap: 15px; 
}

.navigation-bar button {
  align-items: center;
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
    display: inline-flex;
    font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 600;
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
    cursor: pointer;
    letter-spacing: 1px;
}

.navigation-bar button:hover{
  color: #fb5849;
  transform:translateY(-4px)
}

.content-container {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 5px; 
  height: 100vh;
  margin-top: 15px;
}

.left-content{
  background-image: url('./images/top-left-bg.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center; 
  align-items: center;
}

.inner-content {
  text-align: center; 
}

.inner-content h4{
    font-family: 'Dancing Script', cursive;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
}

.inner-content h6{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    letter-spacing: 3px;
    margin-top: 5px;
}

.main-white-button, .scroll-to-section{
  margin-top: 25px;
  margin-bottom: 10px;
  font-size: 13px;
  color: #fb5849;
  background-color: #fff;
  padding: 12px 25px;
  display: inline-block;
  border-radius: 3px;
  font-weight: 600;
  transition: all .3s;
  cursor: pointer;
  transition: background-color 2s ease-out 100ms
}

.main-white-button:hover{
  background-color: #cac2c2;
  color:  #fb5849;
  font-weight:bolder;
}

.right-content {
  width: 70%; 
  height: 100%;
  position: relative;
  overflow: hidden;
}

.mySlides {
  width: 100%;
  height: 100%;
  transition: opacity 5s ease; 
  position: absolute;
  top: 0;
  left: 0;
}

.mySlides.active {
  display: block; 
}

.mySlides img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  filter: brightness(150%);
}

/* carousel controls */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: 40px; 
  height: 40px;
  padding: 0; 
  margin-top: -20px; 
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 50%; 
  opacity: 0.3;
  background-color:  #fb5849;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.next {
  right: 0;
}

.prev:hover, .next:hover {
  opacity: 0.8;
  background-color:  #fb5849; 
}

/* Styling the about section  */
.left-text-content, .right-text-content{
  margin-top : 25px;
 max-width: 50%;
}

#about {
  position: relative;
  z-index: 9;
}

section {
  display: block;
}

.row {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.section-heading h6 {
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}

.section-heading h6:before {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #fb5849;
}

#about .section-heading h2 {
  padding-right: 120px;
}

.section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #2a2a2a;
}

#about .left-text-content p {
  margin-bottom: 25px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}


.left-text-content img {
  vertical-align: left;
  border-style: none;
  margin-left: -45px;
}


.cols-4 {
  flex: 1; 
  display: flex;
  justify-content: center; 
  align-items: center; 
  padding: 10px; 
}

.cols-4 img {
  max-width: 100%; 
  height: auto; 
}

.right-text-content{
  max-width: 50%;
}

/* menu content */

.Menu-heading {
  margin-left: 75px;
  margin-top: 35px;
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}

.Menu-heading:before {
  width: 30px;
  height: 1px;
  content: '';
  position: absolute;
  left: 0;
  top: 8px;
  background-color: #fb5849;
}

/* Styles for the entire menu container */
.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as needed */
  margin: 0 auto;
  text-align: left;
  margin-top: 45px;
  background-color: #f2f6ff;
  padding: 30px 0px 30px 30px;
}

/* Centering the top heading */
.menu h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fb5849;
}

/* Styling for individual menu sections (Appetizers, Main Dish, Desserts) */
.appetizer-menu,
.mainDish-menu,
.desserts-menu {
  width: 100%; /* Full width within the menu container */
  max-width: 600px; /* Limit width to keep sections centered */
  margin: 20px 0;
}

/* Heading style for each section (Appetizers, Main Dish, Desserts) */
.appetizer-menu h2,
.mainDish-menu h2,
.desserts-menu h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

/* Styling for paragraphs in each section */
.appetizer-menu p,
.mainDish-menu p,
.desserts-menu p {
  line-height: 1.6;
  margin-bottom: 10px;
}

.appetizer-menu h2,
.mainDish-menu h2,
.desserts-menu h2{
  text-align: left;
} 

/* Our chefs */

.chef-heading{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%; /* Adjust width as needed */
  margin: 0 auto;
  text-align: center !important;
  margin-top: 45px;

}

.chef-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #2a2a2a;
  margin-bottom: 70px;
}

.chef-heading h6 {
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
}

.chef-profile{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  gap: 40px;
  overflow: hide;
}


.chef-profile .chef-item{
  text-align: center;
  border: 1px solid #afafaf;
  padding: 5px;
  transition: all .5s;
  border-radius: 3px;
}

.chef-item .thumb{
  position: relative;
}

.chef-item .thumb img {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.chef-item .down-content{
  padding: 20px 0px;
}

.chef-item .down-content h4 {
  transition: all .3s;
  font-size: 20px;
  font-weight: 700;
  color: #2a2a2a;
}

.chef-item .down-content span {
  font-size: 14px;
  color: #2a2a2a;
}

.chef-profile .chef-item:hover {
  border: 1px solid #fb5849;
}


.chef-profile .chef-item:hover h4 {
  color: #fb5849; 
}


/* contact us */

.contact-us {
  margin-top: 30px;
}

#reservation{
    padding: 60px;
    background-image: url('./images/reservation-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contact-reservation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.row-container{
    max-width: 800px; /* Adjust as necessary */
    margin: 0 auto;
    padding: 20px;
}

#reservation .left-side{
  align-self: center !important;
}


#reservation .section-heading {
  margin-bottom: 30px;
}

#reservation p {
  color: #fff;
  margin-bottom: 65px;
}

p {
  font-size: 14px;
  line-height: 25px;
  color: #2a2a2a;
}

#reservation .section-heading h6 {
  color: #fff;
}

.section-heading h6 {
  position: relative;
  font-size: 15px;
  color: #fb5849;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-left: 40px;
  line-height: 1.2;
}

#reservation .section-heading h2 {
  color: #fff;
}

.section-heading h2 {
  line-height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  font-size: 30px;
  font-weight: 900;
  color: #2a2a2a;
}


.row-icons{
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  gap: 30px;
}

#reservation .phone, #reservation .message {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 0px 10px 20px 10px;
}

#reservation .phone i, #reservation .message i {
  width: 70px;
  height: 70px;
  display: inline-block;
  text-align: center;
  line-height: 70px;
  color: #fff;
  background-color: #fb5849;
  border-radius: 50%;
  font-size: 24px;
  margin-top: -35px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px / 1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.fa-phone:before {
  content: "\f095";
}

#reservation .phone h4, #reservation .message h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 10px;
}

.email-link:hover {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

